{% extends 'layout.html' %}
{% block content %}
<div>



</div>

<div class="col">
    <h2> 无线电业务</h2>
    <p class="intro">(Radio services)</p>
    <a href="/buss_list/" >
     <button type="button" class="but">
         无线电业务/频率
     </button>
    </a>
</div>
<div class="one">
 <div class="row">
    <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t1" data-toggle="collapse" class="active">无线电通信业务<p style="font-size: 16px;height: 8px">(radio communication service)</p></a>
            </h5>
          </div>
            <div id="t1" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 为各种电信用途所进行的无线电波的传输、发射和/或接收。 在本规定中，除非另有说明，无线电通信业务均指地面无线电通信。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title2">
                <a href="#t2" data-toggle="collapse" >固定业务<p style="font-size: 16px;height: 8px">(fixed service)</p></a>
            </h5>
          </div>
            <div id="t2" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 指定的固定地点之间的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t3" data-toggle="collapse" >卫星固定业务<p style="font-size: 16px;height: 8px">(fixed-satellite service)</p></a>
            </h5>
          </div>
            <div id="t3" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 利用一个或多个卫星在处于给定位置的地球站之间的无线电通信业务；该给定位置可以是一个指定的固定地点或指定区域内的任何一个固定地点；
                 在某些情况下，这种业务也可包括运用于卫星间业务的卫星至卫星的链路；也可包括其他空间无线电通信业务的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t4" data-toggle="collapse" >航空固定业务<p style="font-size: 16px;height: 8px">(aeronautical fixed service)</p></a>
            </h5>
          </div>
            <div id="t4" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 为航空导航安全与正常、有效和经济的空中运输，在指定的固定地点之间的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t5" data-toggle="collapse" >卫星间业务<p style="font-size: 16px;height: 8px">(inter-satellite service)</p></a>
            </h5>
          </div>
            <div id="t5" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 在人造地球卫星之间提供链路的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t6" data-toggle="collapse" >空间操作业务<p style="font-size: 16px;height: 8px">(space operation service)</p></a>
            </h5>
          </div>
            <div id="t6" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 仅与空间飞行器的操作、特别是与空间跟踪、空间遥测和空间遥令有关的无线电通信业务。
                 上述空间跟踪、空间遥测和空间遥令功能通常是空间电台运营业务范围内的功能
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t7" data-toggle="collapse" >移动业务<p style="font-size: 16px;height: 8px">(mobile service)</p></a>
            </h5>
          </div>
            <div id="t7" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 移动电台和陆地电台之间，或各移动电台之间的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t8" data-toggle="collapse" >卫星移动业务<p style="font-size: 16px;height: 8px">(mobile-satellite service)</p></a>
            </h5>
          </div>
            <div id="t8" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 在移动地球站和一个或多个空间电台之间的一种无线电通信业务，或该业务所利用的各空间电台之间的无线电通信业务；
                 或利用一个或多个空间电台在移动地球站之间的无线电通信业务。 该业务也可以包括其运营所必需的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t9" data-toggle="collapse" >陆地移动业务<p style="font-size: 16px;height: 8px">(land mobile service）</p></a>
            </h5>
          </div>
            <div id="t9" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 基地电台和陆地移动电台之间，或陆地移动电台之间的移动业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t10" data-toggle="collapse" >卫星陆地移动业务<p style="font-size: 16px;height: 8px">(land mobile-satellite service)</p></a>
            </h5>
          </div>
            <div id="t10" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 其移动地球站位于陆地上的一种卫星移动业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t11" data-toggle="collapse" >水上移动业务<p style="font-size: 16px;height: 8px">(maritime mobile service)</p></a>
            </h5>
          </div>
            <div id="t11" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 海岸电台和船舶电台之间，或船舶电台之间或相关的船载通信电台之间的一种移动业务；
                 营救器电台和应急示位无线电信标电台也可参与此种业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t12" data-toggle="collapse" >港口操作业务<p style="font-size: 16px;height: 8px">(port operations service)</p></a>
            </h5>
          </div>
            <div id="t12" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 海（江）岸电台与船舶电台之间，或船舶电台之间在港口内或港口附近的一种水上移动业务。
                 其通信内容只限于与作业调度、船舶运行和船舶安全以及在紧急情况下的人身安全等有关的信息。这种业务不用于传输属于公众通信性质的信息。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t13" data-toggle="collapse" >船舶移动业务<p style="font-size: 16px;height: 8px">(ship movement service)</p></a>
            </h5>
          </div>
            <div id="t13" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 在海岸电台与船舶电台之间，或船舶电台之间除港口操作业务以外的水上移动业务中的安全业务。其通信内容只限于与船舶行动有关的信息。
                 这种业务不用于传输属于公众通信性质的信息。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t14" data-toggle="collapse" >航空移动业务<p style="font-size: 16px;height: 8px">(aeronautical mobile service)</p></a>
            </h5>
          </div>
            <div id="t14" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 在航空电台和航空器电台之间，或航空器电台之间的一种移动业务。营救器电台可参与此种业务；
                 应急示位无线电信标电台使用指定的遇险与应急频率也可参与此种业务。
                </p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t15" data-toggle="collapse" >航空移动（R）业务<p style="font-size: 16px;height: 8px">(aeronautical mobile（R）service)</p></a>
            </h5>
          </div>
            <div id="t15" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 供主要与沿国内或国际民航航线的飞行安全和飞行正常有关的通信使用的航空移动业务。在此，R为route的缩写。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t16" data-toggle="collapse" >航空移动（OR）业务<p style="font-size: 16px;height: 8px">(aeronautical mobile（OR）service)</p></a>
            </h5>
          </div>
            <div id="t16" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 移动地球站位于航空器上的卫星移动业务；营救器电台与应急示位无线电信标电台也可参与此种业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t17" data-toggle="collapse" >卫星航空移动业务<p style="font-size: 16px;height: 8px">(aeronautical mobile-satellite service)</p></a>
            </h5>
          </div>
            <div id="t17" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 移动地球站位于航空器上的卫星移动业务；营救器电台与应急示位无线电信标电台也可参与此种业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t18" data-toggle="collapse" >卫星航空移动（R）业务<p style="font-size: 16px;height: 8px">(aeronautical mobile-satellite（R）service)</p></a>
            </h5>
          </div>
            <div id="t18" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                供主要与沿国内或国际民航航线的飞行安全和飞行正常有关的通信使用的卫星航空移动业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t19" data-toggle="collapse" >卫星航空移动（OR）业务<p style="font-size: 16px;height: 8px">(aeronautical mobile-satellite（OR）service)</p></a>
            </h5>
          </div>
            <div id="t19" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 供主要是国内和国际民航航线以外的通信使用的卫星航空移动业务，包括那些与飞行协调有关的通信。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t20" data-toggle="collapse" >广播业务<p style="font-size: 16px;height: 8px">(broadcasting service)</p></a>
            </h5>
          </div>
            <div id="t20" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 供公众直接接收而进行发射的无线电通信业务，包括声音信号的发射、电视信号的发射或其他方式的发射
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t21" data-toggle="collapse" >卫星广播业务<p style="font-size: 16px;height: 8px">(broadcasting-satellite service)</p></a>
            </h5>
          </div>
            <div id="t21" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                利用空间电台发送或转发信号，以供公众直接接收（包括个体接收和集体接收）的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t22" data-toggle="collapse" >无线电测定业务<p style="font-size: 16px;height: 8px">(radio determination service)</p></a>
            </h5>
          </div>
            <div id="t22" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于无线电测定的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t23" data-toggle="collapse" >卫星无线电测定业务<p style="font-size: 16px;height: 8px">(radio determination-satellite service)</p></a>
            </h5>
          </div>
            <div id="t23" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 利用一个或多个空间电台进行无线电测定的无线电通信业务。 这种业务也可以包括其操作所需的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t24" data-toggle="collapse" >无线电导航业务<p style="font-size: 16px;height: 8px">(radio navigation service)</p></a>
            </h5>
          </div>
            <div id="t24" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于无线电导航的无线电测定业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t25" data-toggle="collapse" >卫星无线电导航业务<p style="font-size: 16px;height: 8px">(radio navigation-satellite service)</p></a>
            </h5>
          </div>
            <div id="t25" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于无线电导航的卫星无线电测定业务。这种业务也可以包括其操作所必需的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t26" data-toggle="collapse" >水上无线电导航业务<p style="font-size: 16px;height: 8px">(maritime radio navigation service)</p></a>
            </h5>
          </div>
            <div id="t26" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 有利于船舶航行和船舶安全运行的无线电导航业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t27" data-toggle="collapse" >卫星水上无线电导航业务<p style="font-size: 16px;height: 8px">(maritime radio navigation-satellite service)</p></a>
            </h5>
          </div>
            <div id="t27" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 地球站位于船舶上的卫星无线电导航业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t28" data-toggle="collapse">航空无线电导航业务<p style="font-size: 16px;height: 8px">(aeronautical radionavigation service)</p></a>
            </h5>
          </div>
            <div id="t28" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 有利于航空器飞行和航空器的安全运行的无线电导航业务。
                </p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t29" data-toggle="collapse" >卫星航空无线电导航业务<p style="font-size: 16px;height: 8px">(aeronautical radionavigation service）</p></a>
            </h5>
          </div>
            <div id="t29" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 地球站位于航空器上的卫星无线电导航业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t30" data-toggle="collapse" >无线电定位业务<p style="font-size: 16px;height: 8px">(radiolocation service)</p></a>
            </h5>
          </div>
            <div id="t30" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于无线电定位的无线电测定业务
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t31" data-toggle="collapse" >卫星无线电定位业务<p style="font-size: 16px;height: 8px">(radiolocation-satellite service)</p></a>
            </h5>
          </div>
            <div id="t31" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于无线电定位的卫星无线电测定业务。这种业务也可以包括其操作所必需的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t32" data-toggle="collapse" >气象辅助业务<p style="font-size: 16px;height: 8px">(meteorological aids service)</p></a>
            </h5>
          </div>
            <div id="t32" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于气象（含水文）的观察与探测的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t33" data-toggle="collapse" >卫星地球探测业务<p style="font-size: 16px;height: 8px">(earth exploration-satellite service)</p></a>
            </h5>
          </div>
            <div id="t33" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 地球站与一个或多个空间电台之间的无线电通信业务，并可包括空间电台之间的链路。
                 在这种业务中：
                     由地球卫星上的有源遥感器或无源遥感器获得的有关地球特性及其自然现象的信息；
                     从空中或地球基地平台收集同类信息；此种信息可分发给系统内的相关地球站；
                     可包括平台询问。此种业务也可以包括其操作所需的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t34" data-toggle="collapse" >卫星气象业务<p style="font-size: 16px;height: 8px">(meteorological-satellite service)</p></a>
            </h5>
          </div>
            <div id="t34" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 用于气象的卫星地球探测业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t35" data-toggle="collapse" >标准频率和时间信号业务<p style="font-size: 16px;height: 8px">(standard frequency and time signal service)</p></a>
            </h5>
          </div>
            <div id="t35" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 为满足科学、技术和其他方面的需要而播发规定的高精度频率、时间信号（或二者同时播发）以供普遍接收的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t36" data-toggle="collapse" >卫星标准频率和时间信号业务<p style="font-size: 16px;height: 8px">(standard frequency and time signal service)</p></a>
            </h5>
          </div>
            <div id="t36" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 利用地球卫星上的空间电台开展与标准频率和时间信号业务相同目的的无线电通信业务。这种业务也可以包括其操作所需的馈线链路。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t37" data-toggle="collapse" >空间研究业务<p style="font-size: 16px;height: 8px">(space research service)</p></a>
            </h5>
          </div>
            <div id="t37" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 利用空间飞行器或空间其他物体进行科学或技术研究的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t38" data-toggle="collapse" >业余业务<p style="font-size: 16px;height: 8px">(amateur service)</p></a>
            </h5>
          </div>
            <div id="t38" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 供业余无线电爱好者进行自我训练、相互通信和技术研究的无线电通信业务。
                 业余无线电爱好者系指经正式批准的、对无线电技术有兴趣的人，其兴趣纯系个人爱好而不涉及谋取利润。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t39" data-toggle="collapse" >卫星业余业务<p style="font-size: 16px;height: 8px">(amateur-satellite service)</p></a>
            </h5>
          </div>
            <div id="t39" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 利用地球卫星上的空间电台开展与业余业务相同目的的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t40" data-toggle="collapse" >射电天文业务<p style="font-size: 16px;height: 8px">(radio astronomy service)</p></a>
            </h5>
          </div>
            <div id="t40" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 涉及射电天文使用的一种业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t41" data-toggle="collapse" >安全业务<p style="font-size: 16px;height: 8px">(safety service)</p></a>
            </h5>
          </div>
            <div id="t41" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                为保障人类生命和财产安全而常设或临时使用的无线电通信业务。
                </p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title">
                <a href="#t42" data-toggle="collapse" >卫星水上移动业务<p style="font-size: 16px;height: 8px">(maritime mobile-satellite service)</p></a>
            </h5>
          </div>
            <div id="t42" class="panel-collapse collapse" >
                <div class="panel-body">
                 <p style="text-indent:2em;">
                 其移动地球站位于船舶上的一种卫星移动业务；营救器电台和应急示位无线电信标电台也可参与此种业务。
                </p>
            </div>
          </div>
        </div>
    </div>
 </div>
</div>
<div class="jumbotron " style="margin-bottom:0;background-color:#d3e6f8;
    color:#373a3c;margin-top: 20px;margin-bottom:0;padding: 15px;">
<h4>次要业务台站说明</h4>
     <ol class="lie">
     <li>不得对业经指配或将来可能指配频率的主要业务电台产生有害干扰;</li>
     <li>不得对来自业经指配或将来可能指配频率的主要业务电台的有害干扰提出保护要求;</li>
     <li>可要求保护不受来自将来可能指配频率的同一业务或其他次要业务电台的有害干扰。</li>
     </ol>
<h4>特别业务(special service)说明</h4>
     <p class="jie">专门为一般公益事业的特定需要而设立，且不对公众通信开放的无线电通信业务。</p>
</div>
{% endblock %}